# Exploring the Guardian Authorship dataset

In this notebook we'll take a look at the Guardian Authorship dataset on HuggingFace.

In [5]:
import pandas as pd
import numpy as np
from datasets import load_dataset

In [37]:
def load_guardian_authorship():
    configs = [
        'cross_topic_1', 'cross_topic_2', 'cross_topic_3', 'cross_topic_4', 'cross_topic_5', 
        'cross_topic_6', 'cross_topic_7', 'cross_topic_8', 'cross_topic_9', 'cross_topic_10', 
        'cross_topic_11', 'cross_topic_12', 'cross_genre_1', 'cross_genre_2', 'cross_genre_3', 
        'cross_genre_4'
    ]
    dataset = []
    for config in configs:
        ds = load_dataset('guardian_authorship', config)
        
        splits = ['train', 'test', 'validation']
        dfs = []
        for split in splits:
            df = ds[split].data.to_pandas()
            df['dataset'] = config
            df['split'] = split
            dfs.append(df)
        dataset.append(pd.concat(dfs))
    return pd.concat(dataset)

In [ ]:
guardian_authorship = load_guardian_authorship()

In [ ]:
guardian_authorship.to_csv('../data/guardian_authorship.csv')

In [44]:
print("There are {:,} examples in the dataset".format(len(guardian_authorship)))

There are 6,348 examples in the dataset

In [45]:
guardian_authorship

,author,topic,article,dataset,split
0,6,0,I know your New Year's Day will not be complet...,cross_topic_1,train
1,6,0,Every summer the graduates of Britain's univer...,cross_topic_1,train
2,6,0,Just before the Leicester South by-election on...,cross_topic_1,train
3,6,0,The scandal of the moment is that Sir Mark Tha...,cross_topic_1,train
4,6,0,As the stock market crash makes comparisons wi...,cross_topic_1,train
...,...,...,...,...,...
112,12,3,Whatever the truth of Naomi Wolf's sex-pest ac...,cross_genre_4,validation
113,12,3,This year I had the good fortune to celebrate ...,cross_genre_4,validation
114,9,3,It was Geoffrey Hoon who converted and convinc...,cross_genre_4,validation
115,9,3,During his first term as vice president of the...,cross_genre_4,validation
116,9,3,"I was, of course, for Gore. In the beginning I...",cross_genre_4,validation

In [50]:
guardian_authorship[guardian_authorship.split == 'train'].groupby('author').count()

        topic  article  dataset  split
author
0         142      142      142    142
1          66       66       66     66
2          99       99       99     99
3          98       98       98     98
4          68       68       68     68
5         130      130      130    130
6         104      104      104    104
7         133      133      133    133
8         121      121      121    121
9         121      121      121    121
10         86       86       86     86
11        121      121      121    121
12        106      106      106    106

In [53]:
len(guardian_authorship[guardian_authorship.split == 'train'])

1395

In [59]:
guardian_authorship[guardian_authorship.split == 'train'].article.str.len().hist()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.